*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header>h1{
    font-size: 40px;
    
    }

nav {
    
    display:block;
    height: 37vh;
    /*width:100vw;*/
    background: url(../imagenes/design2_image1.jpg) left no-repeat ;
    background-attachment:fixed ;
    background-size: 100% 100%;
}
a:hover {
    background-color: rgb(16, 16, 139);

}
nav > a{
    font-size: 20px;
    position: relative;
    top: -15px;
    left: 43vw;
    display:inline-block;
    background-color: rgb(16, 16, 73);
    color:white;
    border-radius: 3px;
    padding:5px;
    
    
    
}


/*
img.fondo {

    width: auto;
    height:30vh;

    inline-size: 1000px; 
}*/

main h2 {
    /*width: 870px;*/
    font-size: 25px;
    border: 1px solid black;
    margin-top: 0 ;
    text-align: center;
}

main>img{

    
    display:flex;

}

section{
    
    position: relative;
    top: -230px;
    left: 200px;
    width:1000px;
    
    font-size: 20px;
}

#contacto{
    
    position:absolute;
    top: 480px;
    left:200px;
    font-size: 20px;
}

main h3{
    text-align: center;
}
/* Estilos hoja rules.html*/
main{
    font-size: large;
}

dt{
   margin-left: 2rem;
   font-weight: bold;
}


dd{ 
    margin: 10px  1px 20px 1px; 
}

.sangria{
    text-indent: 1rem;
}

ol{
    margin-left: 2rem;
}

.abcd{
   
    list-style: lower-latin;
}

/* Estilos hoja game_info.html*/

main>p{
    font-size: 20px;
}



table{
   /* background-color: rgb(208, 216, 213);*/
    height: 400px;
    width: 600px;
    border: 1px solid rgba(0, 0, 255, 0.705);
    margin: 10px 1px;
    text-align: center;
    
}

thead th{
    border: 1px solid rgb(1, 1, 87);
}

tbody td{
    border: 1px solid rgb(2, 2, 189);
}


div{
    background-color:rgb(1, 1, 68);
    display:flex;
    height:400px;
    width: 1000px;
    flex-wrap: wrap;
    align-items: center;
}

.maps{
    height: 150px;
    width: 300px;
    border: 1px solid black;
    justify-content: center;
    margin: 10px;
    
   
}


footer{
    height: 20vh;
    margin-top:7rem;
    background-color: aquamarine;
    text-align : center;
    padding-top: 25px;
    
}


/*Estilos pagina formulario*/

form{
    margin: 25px;

}

fieldset{

    
    padding: 10px;
    border-radius: 10px;
    color: rgb(54, 51, 51);
}

legend{
    font-size: 18px;
    margin-left: 20px;
}

label{
    
    margin:5px 20px 5px 2px;
    
}




.school{
    margin-top: 15px;
    margin-bottom: 5px;
    
}

#paragraph{
    margin-bottom: 20px;
    text-indent: 15px;

}