*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header>h1{
    font-size: 40px;
    }

nav {
    
    display:block;
    height: 37vh;
    /*width:100vw;*/
    background: url(../imagenes/design2_image1.jpg) left no-repeat ;
    background-attachment:fixed ;
    background-size: 100% 100%;
}
a:hover {
    background-color: green;

}
nav > a{
    font-size: 25px;
    position: relative;
    top: -15px;
    left: 65vw;
    display:inline-block;
    background-color: blue;
    color:white;
    
    
    
}


/*
img.fondo {

    width: auto;
    height:30vh;

    inline-size: 1000px; 
}*/

main h2 {
    /*width: 870px;*/
    font-size: 25px;
    border: 1px solid black;
    margin-top: 0 ;
    text-align: center;
}

section{
    position:absolute;
    top:400px;
    left: 200px;
    font-size: 20px;
}

#contacto{
    
    position:absolute;
    top: 480px;
    left:200px;
    font-size: 20px;
}